/*
 ██████  ██    ██ ███    ██ ██████
██    ██ ██    ██ ████   ██ ██   ██
██    ██ ██    ██ ██ ██  ██ ██   ██
██    ██  ██  ██  ██  ██ ██ ██   ██
 ██████    ████   ██   ████ ██████
*/


.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

@font-face {
  font-family: "BluuNext-Bold";
  src: local("BluuNext-Bold"), url(font/BluuNext-Bold.otf);
}

@font-face {
  font-family: "CothamSans";
  src: local("CothamSans"), url(font/CothamSans.otf);
}

.App {
  margin-top: 8px;
  text-align: center;
  margin-inline: auto;
  font-family: "BluuNext-Bold", sans-serif;
  background-color: #FFFFFF;
}

p, a {
  color: #212121;
  font-family: "CothamSans", sans-serif;
  padding: 8px;
  letter-spacing: .2rem;
  font-size: .9rem;
  text-decoration: none;
}

h1, h2, h3, h5 {
  color:  #F44336;
  font-family: "BluuNext-Bold", sans-serif;
}

.footerText{
  font-family: "CothamSans", sans-serif;
  color: #212121;
  font-size: .5rem;
}

.portfolioHeader{
  color: #212121;
}

.gridTitle {
  font-family: "BluuNext-Bold", sans-serif;
  font-size: 30px;
}

h1.uppercase {
  text-transform: uppercase;
}


.subText {
}


a {
  color: #F44336;
  text-decoration: none;
  &:hover {
    color: #FFCDD2;
    text-decoration: none;
  }

}

span {
  text-shadow: -0.06em 0 #FF0000,  0.06em 0 cyan; /* This creates the 3D effect, pretty easy, eh? */
  letter-spacing: 0.08em; /* make sure the letters don't overlap */
}

.centerHeader{
  color: #FF0000;
  text-align: center;
  margin-bottom: 10px;
}

.big{
  font-size: 100px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

.aboutMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Bio {
  padding: 20px;
}

.aboutPicture {
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.flexMain{
  display: flex;
  flex-direction: row;
}

.centerText {
  text-align: center;
}

/* HOME */

.hoverLinkEffect{
  transition: color 150ms ease-out;
  &:hover {
    color: #FFCDD2;
  }
}

.homeColCenter {
  flex-grow: 3;;
}

.homeColSide {
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* creative coding portfolio */

/* portfolio */
.portfolio {
  display: flex;
  gap: 1vw;
  flex-direction: column-reverse;
  /* --- MOBILE --- */
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.portfolioBox {
  display: block;
  position: relative;
  z-index: 0;
}

.portfolioItem {
  display: flex;
  padding-left: 25vw;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1500px) {
    padding-left: 0;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.portfolioInfo {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: auto;
  padding-left: 1vw;
  align-items: flex-start;
  @media screen and (min-width: 1500px) {
    width: 30vw;
    border-right: 6px solid #D32F2F;
  }
  @media screen and (max-width: 986px) {
    width: 100vw;
    text-align: left;
    //font-size: 100px;
  }
}

.portfolioImage{
  width: 95vw;
  padding: 5px;
  align-content: center;
  justify-content: center;
  @media screen and (min-width: 1500px) {
    width: 70vw;
  }
}

#scroll-container {
  border-radius: 5px;
  overflow: hidden;
}

.scroll_text {
  display: flex;
  padding: 0 30px;
  color: #FF0000;
  @media screen and (max-width: 768px){
    font-size: 100px;
    line-height: 50px;
  }
  font-size: 170px;
  line-height: 100px;
  background: linear-gradient(100deg, #D32F2F 0%, #FFCDD2 25%);
}

.title_scroller {
  display: flex;
  transition-property: color;
  transition-duration: 35s;
  transition-timing-function: ease;
  transition-delay: 0s;
  animation-direction: reverse;
  animation-duration: 20s;
  animation-play-state: running;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-name: _test;
}

@keyframes _test {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    transform: translate3d(-100%, 0px, 0px);
  }
}

.gridInfo {
  flex-direction: column;
  padding-right: 10vw;
  @media screen and (max-width: 1800px) {
    width: 60vw;
  }
  @media screen and (max-width: 1600px) {
    width: 40vw;
  }
  @media screen and (max-width: 900px) {
    width: 90vw;
  }
}

.portfolioLine {
  display: flex;
  flex-direction: row;
  border-top: solid #BDBDBD;
  border-top-width: thin;
  border-top-style: dot-dash;
  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 768px){
    height:5vw;
  }
}

.gradLine {
  display: flex;
  flex-direction: row;
  height: 1px;
  background: linear-gradient(90deg, #F44336 0%, #FFCDD2 100%);
}

.padding {
  padding: 100px;
}

.margin {
  margin-left: 100px;
  margin-right: 100px;
}

.margin-small-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.projectPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoBox{
  border: #FFCDD2;
  width: 35vw;
  padding-right: 5vw;
}

.footer{
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 786px) {
    display: none;
  }
}

.footer-inner{
  margin: 0.5em;
}

.footer-inner-logo {
  margin: 0.5em;
  align-items: end;
}

.filler {
  width: 60vw;
}

/* media */
/* SLIDER */
.slider-container {
  overflow: hidden;
}
.slider{
  position: relative;
  animation: 30s animate linear infinite;
  width: 500%
}

@keyframes animate {
  0%{
    left: 0%;
  }
  30%{
    left: -100%;
  }
  60%{
    left: -200%;
  }
  90%{
    left: -300%;
  }
}

.imgSlider {
  width: 20%;
  float: left;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.box{
  width:80%;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  width: 95vw;
  padding: 5px;
  @media screen and (min-width: 1500px) {
    width: 70vw;
  }
}

.socialButton {
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: none;
}

.filmStill {
  margin: auto;
  //padding: 2.5vw;
  width: 45vw;
  display: flex;
  @media screen and (max-width: 986px) {
    width: 95vw;
    align-items: center;
  }
}

.filmStillLine {
  margin: auto;
  //padding: 2.5vw;
  width: 8vw;
  margin-top: 1vw;
}

.grey{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cinema {
  background: black;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.vimeoBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  align-items: flex-start;
}

.media_bandcamp {
  border: none;
  width: 100%;
  height: 700px;
}

.media_soundcloud {
  width: 100%;
  height: 166px;
}

.thumbnail{
  width:320px;
  height:180px;
  float: left;
  @media screen and (max-width: 1500px) {
    padding: 2vw;
  }
  @media screen and (max-width: 768px) {
    position: center;
    width: 768px;
    padding: 2vw
  }
  @media screen and (max-width: 375px) {
    position: center;
    max-width: 99%;
    padding: 2vw
  }
}

.cover {
  object-fit: cover;
}

/* navigation bar */

.wrap {
  position: relative;
  padding: 1.5rem;
}

nav {
  padding: 0.5rem (calc(100vw - 1000px)/2);

  container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    ul, .nav_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 46px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    li {
      a {
        padding: 8px;
        font-family: "CothamSans", sans-serif;
        display:block;
        letter-spacing: .2rem;
        font-size: .9rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #212121;
        transition: color 150ms ease-out;

        &:hover {
          color: grey;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .ScContainer {
    width: 375px;
    margin: 0 auto;
    border: 0;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .ScContainer {
    width: 768px;
    margin: 0 auto;
    border: 0;
  }
}

@media (min-width: 1280px) {
  .ScContainer {
    width: 1280px;
    margin: 0 auto;
    border: 0;
  }
}

@media (min-width: 1920px) {
  .ScContainer {
    width: 1920px;
    margin: 0 auto;
    border: 0;
  }
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 0;
  z-index: 10000;
}

//hamburger navbar
.navBurger {
  position: relative;
  padding:5px;
}

.menuNavBurger{
  //position: relative;
  list-style: none;
  top: 0;
  left:0;
  bottom:0;
  width: 0;
  background: #FFCDD2;
  overflow: hidden;
  max-width: 290px;
}

.showMenu {
  width: 100%;
  background: #D32F2F;
  margin-left: 100px;
}

.menuNavBurger li:first-child {
  margin-top: 7rem;
}

button{
  border: none;
  background: #FFFFFF;
}

@media (max-width: 700px) {
  .showMenu{
    margin-left: 20vw;
  }

  .navBurger button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }
}