.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.App {
  margin-top: 8px;
  text-align: center;
  margin-inline: auto;
  font-family: "roboto", sans-serif;
  background-color: #FFFFFF;
}

p, a {
  color: #212121;
  font-family: "roboto", sans-serif;
  padding: 8px;
  letter-spacing: .2rem;
  font-size: .9rem;
  text-decoration: none;
  color: #212121;
}

h1, h2, h3, h5 {
  color:  #F44336;
  font-family: "roboto", sans-serif;
}

h1.uppercase {
  text-transform: uppercase;
}


.subText {
}


a {
  color: #F44336;
  text-decoration: none;
  &:hover {
    color: #FFCDD2;
    text-decoration: none;
  }

}

.italic {
  font-style: italic;
}

.Bio {
  display: flex;
  margin-left: 200px;
  justify-content: space-between;
  width: 640px;
}

.bioPicture {
  display: flex;
  margin-left: 200px;
  width: 640px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.portfolioLine {
  display: flex;
  flex-direction: row;
  border-top: black solid;
  border-top-width: thin;
  border-top-style: dot-dash;
  @media screen and (max-width: 769px) {
    flex-direction: column;
  }

}

.gridInfo {
  flex-direction: column;
  padding-right: 10vw;
  @media screen and (max-width: 1800px) {
    width: 60vw;
  }
  @media screen and (max-width: 1600px) {
    width: 40vw;
  }
  @media screen and (max-width: 900px) {
    width: 95vw;
  }
}

.padding {
  padding: 100px;
}

.margin {
  margin-left: 100px;
  margin-right: 100px;
}

.margin-small-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.projectPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoBox{
  border: #FFCDD2;
  width: 35vw;
  padding-right: 5vw;
}

.footer{
  display: flex;
  flex-direction: row;
}

.footer-inner{
  margin: 0.5em;
}

.footer-inner-logo {
  margin: 0.5em;
  text-align: end;
}

.filler {
  width: 60vw;
}

/* media */

.socialButton {
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: none;
}

.filmStill {
  width: 45vw;
}

.cinema {
  background: black;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.vimeoBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  align-items: flex-start;
}

.media_bandcamp {
  border: none;
  width: 100%;
  height: 700px;
}

.media_soundcloud {
  width: 100%;
  height: 166px;
}

.thumbnail{
  width:320px;
  height:180px;
  float: left;
  @media screen and (max-width: 1500px) {
    padding: 2vw;
  }
  @media screen and (max-width: 768px) {
    position: center;
    width: 768px;
    padding: 2vw
  }
  @media screen and (max-width: 375px) {
    position: center;
    max-width: 99%;
    padding: 2vw
  }
}

.cover {
  object-fit: cover;
}

/* navigation bar */

.wrap {
  position: relative;
  padding: 1.5rem;
}

nav {
  padding: 0.5rem (calc(100vw - 1000px)/2);
  font-family: "roboto", sans-serif;

  container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    ul, .nav_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 46px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    li {
      a {
        padding: 8px;
        letter-spacing: .2rem;
        font-size: .9rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #212121;
        transition: color 150ms ease-out;

        &:hover {
          color: grey;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .ScContainer {
    width: 375px;
    marging: 0 auto;
    border: 0;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .ScContainer {
    width: 768px;
    margin: 0 auto;
    border: 0;
  }
}

@media (min-width: 1280px) {
  .ScContainer {
    width: 1280px;
    margin: 0 auto;
    border: 0;
  }
}

@media (min-width: 1920px) {
  .ScContainer {
    width: 1920px;
    margin: 0 auto;
    border: 0;
  }
}

